<div class="panel panel-default" id="comments" style="height: 300px; overflow-y: scroll;">
    <div class="panel-body">
        <ul class="media-list user_posts">
            <% @latest_comments.each do |comment| %>
              <%= render partial: 'comment', locals: {comment: comment}%>
            <% end %>
        </ul>
    </div>
</div>
<div class="well commentbox">
  <div id="comment_error" class="alert alert-danger" role="alert" style="display: none">
      <span class="sr-only">Error:</span>
  </div>
  <label id="comment_label">Enter your comment</label>
  <textarea id="user_comment" class="form-control custom-control" rows="3" style="resize:none"></textarea>
  <input type="button" id="post_comment" value="Post" class="btn btn-default">
</div>
