// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
footer{
  text-align: center;
  margin-top: 20px;
}

form.login {
  margin: 0 auto;
  width:250px;
}

form{
  margin: 0 auto;
}

.commentbox{
  label{
    text-align: left;
    display: block;
  }
  textarea{
    display: inline;
    width: 80%;
    height: 40%;
  }
  input{
    display: inline;
    margin: 0 0 29px 20px;
  }
}

.post_created_at{
  padding-left: 10px;
}
